h1 {
	color: orange;
	float: center;
}

p {
	font-size: 22px;
	color: green;
	text-align: left;
}

.main {
	border: 5px solid orange;
	border-radius: 10px;
	padding: 10px;
	height: 670px;
	width: 1000px;
	align-self: center;
}
